*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
.scene{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid 1px rgb(10, 0, 0);
    position: relative;
}
.game-scene{
    width: 100%;
    height: 100%;
}

/* 背景层 */
.map-layer{
    width: 100%;
    height: 100%;
    background-image: url(./img/background.jpg);
    background-size: 100%;
    /*background-position-y: 300px;    background-repeat: repeat-y;*/
}

/* 主角飞机 */
#hero{
    width: 120px;
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 200px;
}

.bullet{
    width: 20px;
    position: absolute;
    z-index: 100;
}

.enemy{
    width: 80px;
    position: absolute;
    z-index: 100;
}


#scorediv{
    font-size: 20px;
    font-weight: bold;
    color: rgb(212, 54, 54);
    position: absolute;
    top: 100px;
    left: 100px;
}